<header class="app-header">
  <mat-toolbar>
    <span class="mat-toolbar__span">Vi Store</span>
    <div class="mat-boolbar__buttons">
      <button mat-button>
        <span class="mat-button__span-1">Como funciona</span>
      </button>
      <button mat-button>
        <span class="mat-button__span-2">Preço</span>
      </button>
      <button mat-button>
        <span class="mat-button__span-3">Depoimentos</span>
      </button>
      <button mat-button>
        <span class="mat-button__span-4">
          Login
        </span>
      </button>
      <button mat-raised-button>
        <span class="mat-raised-button__span-1">
          COMPRAR
        </span>
      </button>
    </div>
  </mat-toolbar>
</header>
