<div class="app-text">
  <h1 class="app-text__h1">BENEFÍCIOS</h1>
  <h2 class="app-text__h2">O que você ganha comprando com a gente ?</h2>
  <p class="app-text__p">
    Aqui tem um textinho explicativo falando sobre esse benefício em detalhes e qual é a utilidade benéfica dele. Porém
    é interessante notar que as vezes esse tipo de texto acaba ficando bem extenso e grande.
  </p>
  <div class="app-text__circulo-1">
    <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="40" cy="40" r="40" fill="#ADABAE" />
    </svg>
  </div>
  <span class="app-text-circle__span">Melhores Práticas</span>
  <p class="app-text-circle__p">
    Aqui tem um textinho explicativo falando sobre esse benefício em detalhes e qual é a utilidade benéfica dele. Porém
    é interessante notar que as vezes esse tipo de texto acaba ficando bem extenso e grande.
  </p>
  <div class="app-text__circulo-2">
    <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="40" cy="40" r="40" fill="#ADABAE" />
    </svg>
  </div>
  <span class="app-text-circle__span-2">Dicas Complexas</span>
  <p class="app-text-circle__p-2">
    Aqui tem um textinho explicativo falando sobre esse benefício em detalhes e qual é a utilidade benéfica dele. Porém
    é interessante notar que as vezes esse tipo de texto acaba ficando bem extenso e grande.
  </p>
</div>
