<div class="app-banner">
  <h1 class="app-banner__h1">As melhores marcas você encontra aqui</h1>
  <p class="app-banner__p">
    <strong>Os melhores looks</strong>
    com tudo que você precisa:
  </p>
  <ul class="app-banner__ul">
    <li>Conforto</li>
    <li>Preço baixo</li>
    <li>E feshion</li>
  </ul>
  <button mat-raised-button>
    <span class="mat-raised-button__span-1">
      CONHECER
    </span>
  </button>
  <figure class="app-banner__img">
    <img src="../../../assets/imagens/imagem.png" alt="Imagem vetorizada">
  </figure>
</div>
